<h1><%= @track.title.capitalize %></h1>

<table>
    <caption>Track details</caption>
    <tr>
        <th>Title</th>
        <td><%= @track.title %></td>
    </tr>
    <tr>
        <th>Track no.</th>
        <td><%= @track.ord %></td>
    </tr>
    <tr>
        <th>Album</th>
        <td><%= @track.album.title.capitalize %></td>
    </tr>
    <tr>
        <th>Type</th>
        <% if @track.bonus %>
        <td>Bonus</td>
        <% else %>
        <td>Regular</td>
        <% end %>
    </tr>
    <tr>
        <th>Lyrics</th>
        <td><%= ugly_lyrics(@track.lyrics) %></td>
    </tr>
</table>
<br>
<br>

 <%= render 'notes/form' ,track: @track%>

<br>

<% unless @track.notes.empty? %>
<h3>User notes</h3>
<ul>
<% @track.notes.each do |note| %>
<li><%= render 'notes/note' ,note: note%></li>
<% end %>
</ul>
<% end %>

<br>

<%= link_to 'Edit Track', edit_track_url(@track) %>

<br>

<%= button_to 'Remove Track', track_url(@track),method: :delete %>

<br>

<%= link_to 'Back to album', album_url(@track.album) %>