<h2><%=@album.title.capitalize%></h2>

<table>
    <caption>album details</caption>
    <tr>
        <th>Title</th>
        <td><%= @album.title.capitalize %></td>
    </tr>
    <tr>
        <th>Year</th>
        <td><%= @album.year %></td>
    </tr>
    <tr>
        <th>Band</th>
        <td><%= @album.band.name.capitalize %></td>
    </tr>
    <tr>
        <th>Recorded</th>
        <% if @album.live %>
        <td>Live</td>
        <%else%>
        <td>In Studio</td>
        <% end %>
    </tr>
</table>

<br>

<% unless @album.tracks.empty? %>
<h3>Tracks</h3>

<ul>
    <% @album.tracks.each do |track| %>
    <li><%= link_to track.title, track_url(track) %></li>
    <% end %>
</ul>
<% end %>
<br>
<% if admin? %>
<%= link_to 'New Track', new_album_track_url(@album) %>

<br>

<%= link_to 'Edit Album', edit_album_url(@album) %>

<br>

<%= button_to 'Delete Album', album_url(@album) ,method: :delete %>

<br>
<% end %>
<%= link_to 'Back', band_url(@album.band) %>