<h1>Edit <%= @band.name.capitalize %></h1>

<%= render 'shared/errors' %>

<form action="<%= band_url(@band) %>" method="post">
    <%= auth_token %>
    <input type="hidden" name="_method" value="patch">

    <label for="name">Band Name</label>
    <input type="text" name="band[name]" id="name" value= "<%= @band.name %>">

    <br>

    <input type="submit" value="Finish">
</form>

<%= link_to 'Back', band_url(@band) %>